/* INDEX  --------------------
  - CSS RESET
  - GENERAL HELPER CLASSES
  - UNIVERSAL STYLES
  - HEADER & FOOTER
  - MODULAR ELEMENTS
    - Element Name
  - FORMS
  - SPECIFIC PAGES
    - Page Name
---------------------------
Website Fonts: List fonts here for reference
Heads:
Body: font-family: 'Montserrat', sans-serif;
font-family: 'Gideon Roman', cursive;
Responsive fontsize: vw = viewport width
Website Colours: List colour hex codes here for reference
Green: #485651
Mustard: #AC8949
From designer: GREEN rgb(100,121,96); BROWN rgb(91,72,64) CREAM rgb(235, 233, 230)
----------------------------
*/



* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  /* border: 1px solid rgb(220,220,200); */
}
/* This is the universal reset for every page */

@font-face {
    font-family: 'apaluregular';
    src: url('fonts/apalu-webfont.woff2') format('woff2'),
         url('/fonts/apalu-webfont.woff') format('woff'),
         url('/fonts/apalu-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
a:visited {
  text-decoration: none;
  color:#AC8949;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%; /* This ensures an image never breaks it's container */
  max-height: 100%;
}

[class*=grid-][class*=-equalHeight]>[class*=col] {
  display:block;
  /* This overrides a quirk where contents inside of equal height containers become columns themselves */
}
/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }
.short        { min-height: 30vh; }

.left         { text-align: left; }
.centered     { text-align: center; }
.right        { text-align: right; }

.no-padding { padding: 0; }

.mob-show { display: none;}
.desktop-hide { display: none;}

.full-width { /* for image grids */
  width:98%;
}
.half-width { /* for image grids, make sure you eliminate the whitespace issue in your html. Gives 2 images below product */
  width: 48%;
  margin-right: 1%;
  display: inline-block;
}

.third-width { /* for image grids, make sure you eliminate the whitespace issue in your html. Gives 3 images below product */
  width: 32%;
  margin-right: 1%;
  display: inline-block;
}

.quarter-width  { /* for image grids, make sure you eliminate the whitespace issue in your html. Gives 4 images below product */
  width: 24%;
  margin-right: 1%;
  display: inline-block;
}


.black {color: black;}

.white{color: white;}

/* ----- UNIVERSAL STYLES --------------------------- */

.featured{
  background-color: #485651;
  color: white;
}

.featured h1,
.featured h2,
.featured h3 {
  color: white;
}

/* section {
  padding: 10vh 5%;
} */

.header-image {
  background-size: contain;
  background-position: center;
  background-color: #485651;
  background-repeat: no-repeat;
  display: flex;
  text-align: left;
  min-height: 75vh;
}
  
.header-image-small {
  background-image: url('images/header-image-small.jpg');
  background-size: contain;
  background-position: center;
  background-color: #485651;
  background-repeat: no-repeat;
  text-align: left;
  min-height: 50vh; 
}
  
h1, h2, {
  font-family: 'Gideon Roman', cursive;
  text-decoration: none;
}

h1 {
  font-size: 11vw;
  font-family: 'Gideon Roman', cursive;
  text-decoration: none;
  color: rgb(100,121,96);
  padding: 0px;
  margin: 0px;
  display: none;
}

.front-title  {
    padding-left: 20rem;
    display: none;
  }

h2 {
  font-size: 6vw;
  font-family: 'Gideon Roman', cursive;
  text-decoration: none;
  color: black;
}

h3 {
  font-size: 1.5vw;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  padding-top: 4rem;
  font-weight: 300;
}

h4 {
  font-size: 1vw;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  padding-top: 4rem;
  max-width: 100%;
  height: auto;

}

h5 {
  font-size: 6vw;
  text-align: left;
  /*line-height: 2.2rem;*/
  font-family: 'Gideon Roman', cursive;
  font-weight: 300;
}

h6 {
  font-size: 3vw;
  text-align: center;
  /*line-height: 2.2rem;*/
  font-family: 'Gideon Roman', cursive;
  padding: 5%;
}

a {
  font-size: 1.5vw; 
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}  


p {
  font-size: 1.5vw; 
  font-family: 'Montserrat', sans-serif;
  color: black;
}

span {
  color: #AC8948;
  font-family: 'Gideon Roman', cursive
}

.tile-image {
  background-image: url('images/tops.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 60vh;
}
.tile-image2 {
  background-image: url('images/bottoms.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 60vh;
}
.tile-image3 {
  background-image: url('images/dresses.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 60vh;
}
.tile-image4 {
  background-image: url('images/bespoke.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 50vh;
}

.tile-text {
  font-size: 8vw;
  color: black;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}

/* about page */
.sue-pic {
  background-image: url('/images/sue.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 50vh;
  padding: 1rem;
}

.nathans-pic {
  background-image: url('/images/nathans.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 50vh;
  padding: 1rem;
}

.about {
  padding: 1rem;
}

/* Leaf iconsection  */

.iconsection {
  background-color: #485651;
  color: white;
  padding: 3rem;
  min-height: 40vh;
}

.iconsection p, i {
  padding-left: 3rem;
  padding-right: 3rem;
}

.iconsection h3 {
  padding: 2rem;
  font-size: 2.5vw;
  text-align: center;
}

.iconsection p {
  font-size: 1.5vw;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.fa-envira{
  text-align: center;
  display: block;
  padding-bottom: 1rem;
}

.banner {
  /* background-image: url('images/joanna-kosinska-129039.jpg'); */
  background-size: cover;
  background-position: 40% 32%;
  background-color: #AC8948;
  display: flex;
  text-align: center;
  min-height: 40vh;
}

/* Buttons */
 button, /* button is an element snipcart uses */
.button,
.button-inverted {
  background-color: #485651; /* featured color */
  border: none;
  border-radius: 5px;
  padding: 0.5em 3em;
  margin: 1em auto;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.button-inverted {
    border: 2px solid white;
    color: white;
}
 button:hover,
.button:hover,
.button-inverted:hover {
  background-color: #AC8948;
  transition: all 0.5s;
}
/* Shop Elements */
.product-loop a {
  color: black;
  text-decoration: none;
  width: 100%;
  margin: 0;
}

.product-loop .box-img {
  min-height: 40vh;
  display: flex;
  background-position: center;
  background-size: cover;
}

.product-loop h3 {
    font-size: 1.5vw;
    font-weight: normal;
    margin-bottom: 0;
    color: black;
}

/* Customising the snipcart pop-up */
.snip-layout .snip-header,
.snip-layout .snip-footer {
  background-color:  #485651; /* featured color */
}
.snip-layout .snip-footer__copyright {
  color: white;
}

.little {
  font-size: 2vw;
  text-align: center
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: black
}

.big {
  font-size: 10vw;
  text-align: center;
  font-family: 'Gideon Roman', cursive
  color: black;
}

.quote-text {
  font-size: 2.8vw;
  text-align: center;
}

.quote-author {
  font-size: 1vw;
  padding: 2rem;
  text-align: right;
  color: grey;
}

.quote {
  padding: 5rem;
  min-height: 40vh;
}

.fa-quote-left {
  color: grey;
}

.fa-quote-right {
  color: grey;
}

.connect {
  background-color: #485651;
  color: white;
  padding: 0% 5%;
  min-height: 40vh;
}

.connect-text {
  font-size: 2vw;
  padding-right: 100px;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  color: white;
}

nav a {
    text-decoration: none;
    padding: 0;
    color: rgb(100,121,96);
    font-size: 3vw;
    font-weight: 300;
    text-align: center;
    font-family:  'Gideon Roman', cursive

}
nav a:hover {
  color: #485651; /* featured color */
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.front-nav {
  background-color: rgba(235, 233, 230,0.5);
  height: 6rem;
}

.logo {
  max-height: 2.5rem;
  max-width: 15rem;
  margin: 0.5em 0;
}
header {
  /* border-bottom: 1px solid rgb(245,245,245); */
  background-color: #485651;
  color: white;
}

header nav a {
  display: inline-flex;
  flex-direction: row;
  padding: 1rem;
  font-size: 2vw;
  text-decoration: none;
}

header h2 {
  font-size: 4vw;
  font-family: 'Gideon Roman', cursive;
  text-decoration: none;
  text-align: left;
  color: white;
  padding-top: 1rem;
  margin-left: 2rem;
}

header h3 {
  font-family: 'Gideon Roman';
  display: inline-block;
  font-size: 4vw;
  text-align: left;
  color: white;
  padding-top: 1rem;
  text-decoration: none;
}

header p {
  text-align: center;
  color: white;
  padding: 1rem;
}

footer {
  /* border-top: 1px solid rgb(245,245,245); */
  background-color: #485651;
  color: white;
}
footer nav a {
  display: inline-flex;
  flex-direction: row;
  /* padding: 3rem; */
  font-size: 3vw;
  text-decoration: none;
}

footer h2 {
  font-size: 4vw;
  text-align: left;
  color: white;
  vertical-align: middle;
  margin-left: 2rem;
}

footer h3 {
  font-family: 'Gideon Roman';
  display: inline-block;
  font-size: 4vw;
  text-align: left;
  color: white;
  padding-top: 1rem;
}

footer p {
  text-align: left;
  color: white;
  padding-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
}

/* footer nav .fa,
.social-share nav .fa {
  padding: 0 1em 0 0;
} */

.pure-drawer { /* pop-out hamburger menu */
  padding: 5em 3%;
}

.mob-nav a {
  display: block;
  padding: 0.5em;
  font-size: 3vw;
  text-decoration: none;
}

.social-nav i{
  padding-top: 4rem;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #AC8948; /*mustard*/
  color: white;
  width: 100%;
  padding: 12px 19px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: white;
  color: black;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #485651;
  padding: 1rem .5rem 1rem;
}

/* media queries */

  /*class to hide things on big screens (greater than 40em/640px)*/
@media (min-width: 40em){

  .desktop-hide {
    display: none; !important 
  }
} /* End media query*/

/*classes to change things on small screens (less than 768px)*/
@media (max-width: 768px){
  .banner {
    background-image: none;
  }
  
  .header-image {
    display: none;
  }
  
  .mob-hide {
    display: none;
  }
  
  .header-image-small {
    display: block;
  }
  
  .connect-text {
    font-size: 3vw;
    padding: 1rem .5rem 1rem;
  }

/*this allows me to style the phone number links on mobile*/
  .connect-text a[href^=tel] { 
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: white;
  }
} /* End media query*/

@media (max-width: 48em) {

  /* ------ General Responsive Helpers ---------*/

  /* These classes flip the order of the columns on a mobile layout so that we don't have two images touching. Try commenting them out and see the difference */
  .mob-flip {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
  }
  .mob-flip div {
      width: 100%;
  }

  .mob-show {
    display: block ;
  }

  .mob-hide {
      display: none;
  }

  .mob-center {
    text-align: center;
  }
} /* End media query*/ 
  
  
  textarea {
    margin: 0;
  }

