<h2 class="white" style="font-size: 5rem"> Natural Closet</h2>

<nav class="mob-nav">
  <a href="/index"> Home </a>
  <a href="/about"> About </a>
  <a href="https://shop.naturalcloset.com.au"> Shop </a>
</nav>

<!-- <hr class="mob-nav"> this is a horizontal rule, aka line -->

<nav class="social-nav">
  <!-- add your social links here -->
  <a href="https://www.facebook.com/NaturalCloset/"> <i class="fa fa-facebook"></i> </a>
  <a href="https://www.instagram.com/nathansboutique/"> <i class="fa fa-instagram"></i> </a>
</nav>
