<footer class="grid-middle">

  <!-- Column 1 -->
  <div class="col-4_sm-12 no-padding">
    <a href="/index"><h2 class="mob-center"> Natural Closet </h2></a>
  </div>

  <!-- Column 2 -->
  <div class="col-4_sm-6_xs-12 no-padding centered">
    <h3><span>Find</span> us </h3>
    <p> Nathan's Boutique<br>Cnr Targo & Walker Street<br>Bundaberg, QLD, 4670<br>Ph. 0427 556 630</p>
  </div>

  <!-- Column 3 -->
  <div class="col-4_sm-6_xs-12 no-padding right">
    <nav>
      <a href="https://www.facebook.com/NaturalCloset/"> <i class="fa fa-facebook mob-center"></i></a>
      <a href="https://www.instagram.com/nathansboutique/"> <i class="fa fa-instagram mob-center"> </i></a>
    </nav>
  </div>

</footer>
